In [63]:
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
Datos_completos=pd.read_csv("../data/Datos_completos.csv")

### Analisis de variable

In [15]:
Datos_completos.head()

      Airline Source Destination Duration Total stops       Price        Date
0  Air France    NYC         PAR  7h 20m     nonstop   1,031 SAR   2022-02-01
1  Air France    NYC         PAR  7h 20m     nonstop   1,031 SAR   2022-02-01
2  Air France    NYC         PAR  7h 20m     nonstop   1,031 SAR   2022-02-01
3  Air France    NYC         PAR  7h 10m     nonstop   1,238 SAR   2022-02-01
4  Air France    NYC         PAR  7h 20m     nonstop   1,238 SAR   2022-02-01

In [16]:
Datos_completos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55363 entries, 0 to 55362
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Airline      55363 non-null  object
 1   Source       55363 non-null  object
 2   Destination  55363 non-null  object
 3   Duration     55363 non-null  object
 4   Total stops  55363 non-null  object
 5   Price        55363 non-null  object
 6   Date         55363 non-null  object
dtypes: object(7)
memory usage: 3.0+ MB

In [17]:
#verificamos si exixte algun campo nulo
Datos_completos.isnull().sum()

Airline        0
Source         0
Destination    0
Duration       0
Total stops    0
Price          0
Date           0
dtype: int64

In [18]:
#verificamos si exisiten datos duplicados
Datos_completos[Datos_completos.duplicated()]

,Airline,Source,Destination,Duration,Total stops,Price,Date
1,Air France,NYC,PAR,7h 20m,nonstop,"1,031 SAR",2022-02-01
2,Air France,NYC,PAR,7h 20m,nonstop,"1,031 SAR",2022-02-01
6,Air France,NYC,PAR,7h 30m,nonstop,"1,238 SAR",2022-02-01
18,"Finnair, Iberia",NYC,PAR,10h 55m,1 stop,"1,080 SAR",2022-02-01
20,"Finnair, Air France",NYC,PAR,10h 15m,1 stop,"1,193 SAR",2022-02-01
...,...,...,...,...,...,...,...
55300,Air France,SVO,RUH,16h 45m,2 stops,"2,704 SAR",2022-04-28
55301,Air France,SVO,RUH,16h 45m,2 stops,"2,704 SAR",2022-04-28
55341,Qatar Airways,SVO,RUH,8h 30m,1 stop,"2,047 SAR",2022-04-30
55350,Air France,SVO,RUH,16h 45m,2 stops,"2,704 SAR",2022-04-30
55351,Air France,SVO,RUH,16h 45m,2 stops,"2,704 SAR",2022-04-30

#### Modificamos las variables a types que sean mas manejables

In [56]:
#Eliminar las datos duplicados
Data= Datos_completos.drop_duplicates().copy()
#creamos un columna Market para determinar la ruta
Data['Market']=Data['Source']+"-"+Data['Destination']
#Convertir la columna Price de SAR "riyal saudi" a USD "dolares"
# convert price to numerical format in USD
def clean_price(price):
    price = price.str.replace(',','',regex=True)
    price = price.str.replace('SAR','',regex=True)
    price = price.str.strip()
    price = round(pd.to_numeric(price)*0.27,2)
    return price
Data['Price']=clean_price(Data['Price'])

In [60]:
# Reemplazar valores en la columna 'Total stops'
# 'nonstop '= 0, '1 stop '=1, '2 stops '=2, '3 stops '=3
Data['Total stops'] = Data['Total stops'].replace({'nonstop ': 0, '1 stop ': 1,'2 stops ':2, '3 stops ':3})

[0, 1, 2, 3]

In [77]:
#convertimos la duracion que sta en horas a minutos
def clean_Duration(x):
    try:
        x=x.split()
        hora=x[0].split(sep = "h")
        minutos=x[1].split(sep = "m")
        cont=int(hora[0])*60 + int(minutos[0])
    except Exception as e:
        print(e)
    return cont
Data['Duration']=Data['Duration'].apply(lambda x: clean_Duration(x))

In [80]:
Data['Date']=pd.to_datetime(Data['Date'])

In [82]:
Data

,Airline,Source,Destination,Duration,Total stops,Price,Date,Market
0,Air France,NYC,PAR,440,0,278.37,2022-02-01,NYC-PAR
3,Air France,NYC,PAR,430,0,334.26,2022-02-01,NYC-PAR
4,Air France,NYC,PAR,440,0,334.26,2022-02-01,NYC-PAR
5,Air France,NYC,PAR,450,0,334.26,2022-02-01,NYC-PAR
7,Lufthansa,NYC,PAR,425,0,365.31,2022-02-01,NYC-PAR
...,...,...,...,...,...,...,...,...
55358,"Air France, Egypt Air",SVO,RUH,1270,3,518.40,2022-04-30,SVO-RUH
55359,"Finnair, Pegasus Airlines",SVO,RUH,1090,3,561.60,2022-04-30,SVO-RUH
55360,Multiple Airlines,SVO,RUH,1055,3,564.57,2022-04-30,SVO-RUH
55361,Multiple Airlines,SVO,RUH,985,3,707.40,2022-04-30,SVO-RUH
55362,Multiple Airlines,SVO,RUH,1100,3,1091.34,2022-04-30,SVO-RUH

In [83]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50300 entries, 0 to 55362
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Airline      50300 non-null  object
 1   Source       50300 non-null  object
 2   Destination  50300 non-null  object
 3   Duration     50300 non-null  int64
 4   Total stops  50300 non-null  int64
 5   Price        50300 non-null  float64
 6   Date         50300 non-null  datetime64[ns]
 7   Market       50300 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 3.5+ MB

AL FINAL se tranformo la data cambiando y modificando las varibleas para un mejor manejo

* la duracion esta en minutos
* Total stops esta en una categoria numerica
* Price se cambia a USD
* Market se crea con la finalidad de mostrar las rutas mas facilmente

In [84]:
Data.to_csv("../data/Datos_Transformados.csv",index=False)